
body {
    font-family: 'Trebuchet MS', sans-serif; 
    margin: 0% 20% 0% 20%;
}


@media screen and (max-width: 850px) {
    body{ 
        margin:1%;
    }    
}

#logo {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navbar a{
    text-decoration: none;
}

.lien {
    padding: 20px;
    border-radius: 3px;
    color: white;
    background-color: black;
    border: 1px solid black;
    transition: all 0.3s ease;
}

.lien:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: all 0.3s ease;
}

#haut {
    text-decoration: none;
    color: black;
    transition: all 0.2s ease;
}

#haut:hover {
    text-decoration: underline;
}



/* FICHE STYLE */

legend{
    
}

.informationSite div{
    display: flex;
    margin: 1%;
    align-items: center;
}

.informationSite p{
    margin: 1%;
}

.informationSite input[type=url]{
    font-family: 'Trebuchet MS', sans-serif; 
    font-size: medium; 
    width: 115px;
    border: none;
    border-bottom: 1px solid #000;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.informationSite input[type=url]:focus {
    width: 85%;
}

.informationSite select{
    font-family: 'Trebuchet MS', sans-serif; 
    font-size: medium; 
}

.avis{
    margin: 1%;
}

.questionnaire .avis .titreetetoile{
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 700px) {
    .questionnaire .avis .titreetetoile{
        flex-direction: column;
    }
}

.questionnaire .avis .titreetetoile div{
    flex: 1;
    margin-left: 3%;
    text-align: left;
}


.avis2 {
    margin: 1%;
    display: flex;
}

.avis2 div{
    margin: 1%;
    display: flex;
}

.submit{
    height: 30px;
    text-align: center;
}

input[type=submit]{
    margin: 1%;
    border-radius: 3px;
    width: 40%;
    height: 100%;
    border: 1px solid #000;
    background-color: black;
    color:white;
    font-size: larger;
}

input[type=submit]:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: all 0.3s ease;
}


/*
* Rating styles
*/

.rating {
    font-size: 45px;
    overflow: hidden;
}

.rating a {
    float: right;
    color: #aaa;
    text-decoration: none;
    transition: color .4s;
}

.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a {
    color: orange;
    cursor: pointer;
}

.rating2 {
    direction: rtl;
}

.rating2 a {
    float: none
}