
body {
    font-family: 'Trebuchet MS', sans-serif;
    margin-right: 20%;
    margin-left: 20%;
}


@media screen and (max-width: 850px) {
    body{ 
        margin:1%;
    }    
}

#logo {
    width: 250px;
    margin-left: auto;
    margin-right: auto;    
    transition: 0.3s;
}

#logo:hover {
    opacity: 0.7;
}

.navbar {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navbar a{
    text-decoration: none;
}

.lien {
    padding: 20px;
    border-radius: 3px;
    color: white;
    background-color: black;
    border: 1px solid black;
    transition: all 0.3s ease;
}

.lien:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: all 0.3s ease;
}

#haut {
    text-decoration: none;
    color: black;
}

#haut:hover {
    text-decoration: underline;
}
/* --------- INDEX STYLE ---------------*/

.acceuil{
    margin-top: 5%; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#slideshow{
    flex: 2;
}

#corps{
    padding: 3%;
    flex:1;
}

@media screen and (max-width: 1200px) {
    #slideshow {
        flex: 3;
        width: 100%;
    }

    .acceuil {
        flex-direction: column;
    }
}

#corps > h1 {
    text-align: center;
    font-size: 32px;
}

#paragraphes {
    text-align: center;
}

.stronger {
    font-weight: bolder;
}

#bouton {
    width: 163px;
    margin-left: auto;
    margin-right: auto;
}

#download:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: all 0.5s ease;
}

#download {
    text-align: center;
    background-color: black;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.first_letter {
    font-size: 28px;
}

#avis {
    text-align: center;
    font-weight: bolder;
}



/*
* Rating styles
*/

.rating {
    width: 226px;
    margin: 0 auto 1em;
    font-size: 45px;
    overflow: hidden;
}

.rating a {
    float: right;
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}

.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a {
    color: orange;
    cursor: pointer;
}

.rating2 {
    direction: rtl;
}

.rating2 a {
    float: none
}

/*
 *
 *
 *------slideshow------
 *
 *
 */


/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  left: calc(100% - 41px);
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
  color: #f2f2f2;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 96%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


