html{
    overflow: hidden;
}

html, body {
    width: 400px;
    height: 200px;
}

body{
	font-family: 'Trebuchet MS', sans-serif;
    margin: 3% auto;
    font-size: 80%;
    text-wrap: normal;
    text-align: center;
}

h1{
    font-size: 120%;
    border-bottom: 1px solid #000;
    text-align: center;
    margin-bottom: 2%;
}

h1 a{
    color:black;
    padding: 2px;
    text-decoration-line: none;
    transition: all 0.3s ease;
}

h1 a:hover{
    border-radius: 3px;
    transition: all 0.3s ease;
    background-color: white;
    color: white;
    background-color: black;
}

#currentURL{
    text-align:left;
}

button{
    height: 50%;
    width: 80%;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 120%;
    color: white;
    background-color: black;
    border: none;
    border-radius: 3px;
    transition: all 0.5s ease;

}

button:hover{
    color: black;
    background-color: white;
    border: solid 1px black;
}