doctype html
html(lang='fr')
    head
        meta(charset='utf-8')
        // <link rel="icon" type="image/png" href="images/logo.png">
        link(rel='stylesheet', href='style.css')
        title Serveur
    body
        #bloc_page
            header
                #titre_principal
                    | Serveur Connexion
                    // <a href="home.html"><img src="images/tympan.png" width="500" style="vertical-align: middle;" > </a>
                nav
                    ul#menu
                        li
                            a(href='home') Home
                        li
                            a(href='news.html') News
                        li
                            a(href='#') opt
                            ul
                                li
                                    a(href='1.html') 1
                                li
                                    a(href='2.html') 2
                        li
                            a(href='home') Arbre
                        li
                            a(href='connexion') Connexion
                        li
                            a(href='formulaire') Contact
            article
                //form#connexion(<!--method='post', action='reception.php', --='')
                | >
                h3 Connexion
                p
                label(for='email') E-Mail
                    //input#texte(type='email', name='email', size='20')
                    br
                p
                    //label(for='mdp') Mot de passe
                    //input#texte(type='text', name='mdp', size='20')
                p
                    input#texte.sansLabel(type='submit', value='  Valider  ')
            footer
                div
                    h2 Informations
