#logo {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

input[type=password]{
    font-size: larger;
    width: 130px;
    border: none;
    border-bottom: 1px solid #000;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=password]:focus {
    width: 100%;
}

#co {
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0% 30% 0% 30%;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;
    align-items: center;
}

input[type=text]{
    font-size: larger;
    width: 130px;
    border: none;
    border-bottom: 1px solid #000;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

input[type=submit]{
    border: 1px solid #000;
    border-radius: 3px;
    background-color: black;
    color:white;
    font-size: larger;
}

input[type=submit]:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: all 0.3s ease;
}
