doctype html
html(lang="fr")
  head
    meta(charset="utf-8")
    |     
    meta(name="viewport", content="width=device-width, initial-scale=1")
    |     
    title Wib - Fiche
    |     
    link(rel="stylesheet", href="stylesheets/style.css")
    |     
    link(rel="icon", type="image/png", href="../images/icon_ext.png")
  body
    header
      #logo
        a(href="")
          img(src="../images/Logo/logo.png", alt="Logo Wib", title="Logo - Aller Ã  l'accueil")
      |         
      nav
        .navbar
          a(href="/", title="Accueil")
            p.lien Home
          |                 
          a(href="/recherche", title="Recherche")
            p.lien Recherche
          |                 
          a(href="/fiche", title="Fiche")
            p.lien Fiche
          |                 
          a(href="/apropos", title="A propos")
            p.lien A propos
    |     
    main
      form(action="", method="POST")
        fieldset.informationSite
          legend Information du site:
          |                 
          |                 
          div
            p Lien:
            |                     
            input(name="url", type="url", placeholder="Ex: LeMonde.fr")
          |                 
          br
          div
            p Description
            textarea(name="description")
          |                 
          div
            p Catégorie:
            |  
            |                     
            select(name="Catégories")
              option(value="Actualité") Actualité
              |                         
              option(value="Sport") Sport
              |                         
              option(value="Technologie") Technologie
              |                         
              option(value="Autre") Autre
        |             
        fieldset.questionnaire
          legend Questionnaire détaillé
          |                 
          .avis
            .titreetetoile
              p Cohérence de l'écriture:
              |                         
              .rating.rating2
                //
                a(href="#5", title="Give 5 stars") ★
                //
                                            
                a(href="#4", title="Give 4 stars") ★
                //
                                            
                a(href="#3", title="Give 3 stars") ★
                //
                                            
                a(href="#2", title="Give 2 stars") ★
                //
                                            
                a(href="#1", title="Give 1 star") ★
            |                     
            .titreetetoile
              p Fiabilité des arguments :
              |                         
              .rating.rating2
                //
                a(href="#5", title="Give 5 stars") ★
                //
                                                
                a(href="#4", title="Give 4 stars") ★
                //
                                                
                a(href="#3", title="Give 3 stars") ★
                //
                                                
                a(href="#2", title="Give 2 stars") ★
                //
                                                
                a(href="#1", title="Give 1 star") ★
          .avis2
            p Orientation politique:
            |                     
            div
              input(type="radio", name="orientationPolitique", value="oui")
              |                         
              p Oui
            |                     
            div
              input(type="radio", name="orientationPolitique", value="non", checked="checked")
              |                         
              p Non
        |             
        .submit
          input(type="submit", value="Envoyer")
    |     
    footer
      a#haut(href="#logo") Haut de page
