doctype html
html(lang="fr")
  head
    meta(charset="utf-8")
    |     
    meta(name="viewport", content="width=device-width, initial-scale=1")
    |     
    title Wib - Fiche
    |     
    link(rel="stylesheet", href="/stylesheets/fiche.css")
    |     
    link(rel="icon", type="image/png", href="../images/icon_ext.png")
  body
   include ../public/template/header
    main
    div(id='fiche')
      form(action="", method="POST")
        fieldset(class='informationSite')
          legend Information du site:
          |                 
          |                 
          div
            p Lien:
            |                     
            input(name="url", type="url", placeholder="Ex: LeMonde.fr")

          br
          div
            p Description
            textarea(name="description",class ='description')
          |                 
          div
            p Catégorie:
            |  
            |                     
            select(name="typ")
              if (typeof type === "undefined")
                  td
              else
                each t in type
                  option(value="#{t}") #{t}
          div
            p Sujet:
            input(type='text', name='subject')
        br
        fieldset(class='questionnaire')
          legend Questionnaire détaillé
          |                 
          div(class="avis")
            div(class="titreetetoile")
              p Cohérence de l'écriture:
              input(type="hidden",id='coherence', name='coherence')
              |                         
              div(class="rating rating2")
                //
                a(href="#5", title="Give 5 stars",onclick='myFunction5()') ★

                  script.
                      function myFunction5() {
                          var e = document.getElementById("coherence").value = 5;
                      }

                a(href="#4", title="Give 4 stars",onclick='myFunction4()') ★

                  script.
                      function myFunction4() {
                          var e = document.getElementById("coherence").value = 4;
                      }

                a(href="#3", title="Give 3 stars",onclick='myFunction3()') ★

                  script.
                      function myFunction3() {
                          var e = document.getElementById("coherence").value = 3;
                      }


                a(href="#2", title="Give 2 stars",onclick='myFunction2()') ★

                  script.
                      function myFunction2() {
                          var e = document.getElementById("coherence").value = 2;
                      }


                a(href="#1", title="Give 1 star",onclick='myFunction1()') ★

                  script.
                      function myFunction1() {
                          var e = document.getElementById("coherence").value = 1;
                      }


            div(class="titreetetoile")
              p Fiabilité des arguments :
              input(type="hidden",id='fiabilite', name='fiabilite')
              div(class="rating rating2")
                //
                a(href="#5", title="Give 5 stars",onclick='myFunction25()') ★

                  script.
                      function myFunction25() {
                          var e = document.getElementById("fiabilite").value = 5;
                      }


                a(href="#4", title="Give 4 stars",onclick='myFunction24()') ★

                  script.
                      function myFunction24() {
                          var e = document.getElementById("fiabilite").value = 4;
                      }


                a(href="#3", title="Give 3 stars",onclick='myFunction23()') ★

                  script.
                      function myFunction23() {
                          var e = document.getElementById("fiabilite").value = 3;
                      }


                a(href="#2", title="Give 2 stars",onclick='myFunction22()') ★

                  script.
                      function myFunction22() {
                          var e = document.getElementById("fiabilite").value = 2;
                      }


                a(href="#1", title="Give 1 star",onclick='myFunction21()') ★

                  script.
                      function myFunction21() {
                          var e = document.getElementById("fiabilite").value = 1;
                      }
        div(class="submit")
          input(type="submit", value="Envoyer")

    footer
      a#haut(href="#logo") Haut de page
