header
    div(id='header')
        div(id='logo')
            a
                img(src='/images/logo.png', alt='Logo Wib', title="Logo - Aller à l'accueil")
                if (typeof user === "undefined" )
                    include inscriptionUserSpace.jade
                else
                    div(id='userSpace')
                        form(method='GET',action='/deconnexion/')
                            input(type="submit",href="/deconnexion", value="Se Deconnecter")

        nav(class="topnav" id="myTopnav")
            a.active(href='/') Acceuil

            a(href='/recherche') Recherche

            a(href='/fiche') Fiche

            a(href='/apropos') A propos

a.icon(href='javascript:void(0);', style='font-size:15px;', onclick='myFunction()') &#x2630;
script(type='text/javascript', src='/scripts/menuDeroulant.js')
