link(rel='stylesheet', href='/stylesheets/inscriptionPage.css')
header
    div(id='header')
        div(id='logo')
            table(style="border-collapse: collapse;", width="100%")
                    tr
                        th
                            img(src='/images/logo.png', alt='Logo Wib', title="Logo - Aller à l'accueil")

                        th
                            if (typeof user === "undefined" )
                                include inscriptionUserSpace.jade
                            else
                                div(id='userSpace')
                                    form(method='GET',action='/deconnexion/')
                                        input(type="submit",href="/deconnexion", value="Se Deconnecter")

        nav(class="topnav" id="myTopnav")
            a(class="active" ,href='/') Acceuil

            a(href='/recherche') Recherche

            a(href='/fiche') Fiche

            a(href='/apropos') A propos

            a(class="icon" ,href='javascript:void(0);', style='font-size:15px;', onclick='myFunction()') &#x2630;
            script(type='text/javascript', src='/scripts/menuDeroulant.js')
            br
        br
    br
