doctype html
html(lang="fr")
  head
    meta(charset="utf-8")
    |     
    meta(name="viewport", content="width=device-width, initial-scale=1")
    |     
    title Wib - Vérifiez vos lectures
    |     
    link(rel="stylesheet", href="stylesheets/style.css")
    |     
    link(rel="icon", type="image/png", href="images/Logo/icon_ext.png")
  body
    header
      #logo
        a(href="index=")
          img(src="images/Logo/logo.png", alt="Logo Wib", title="Logo - Aller Ã  l'accueil")
      |     
      nav(class="topnav" id="myTopnav")
          a(href="/", title="Accueil")
            p.lien Home
          |             
          a(href="/recherche", title="Recherche")
            p.lien Recherche
          |             
          a(href="/fiche", title="Fiche")
            p.lien Fiche
          |             
          a(href="/apropos", title="A propos")
            p.lien A propos
    main
        if (typeof user === "undefined")
          br
        else
          a Bienvenue #{user[0].username} !
          br
      .acceuil
        #slideshow
          // Slideshow container
          .slideshow-container
            // Full-width images with number and caption text
            .mySlides.fade
              .numbertext 1 / 3
              |  	   
              img(src="images/captureLeMonde.PNG", style="width:100%")
              |  	   
              .text Capture d'écran
            |  	 
            .mySlides.fade
              .numbertext 2 / 3
              |   	  
              img(src="images/LogoIUT-2011.jpg", style="width:100%")
              |   	  
              .text Logo IUT
            |   	
            .mySlides.fade
              .numbertext 3 / 3
              |   	  
              img(src="images/ScreenshotLeMonde.png", style="width:100%")
              |   	  
              .text Capture d'écran
            // Next and previous buttons
            a.prev(onclick="plusSlides(-1)") ❮
            |  	 
            a.next(onclick="plusSlides(1)") ❯
          | 	
          br
          // The dots/circles
          div(style="text-align:center")
            span.dot(onclick="currentSlide(1)")
            | 	  
            span.dot(onclick="currentSlide(2)")
            |  	 
            span.dot(onclick="currentSlide(3)")
        | 	
        script(type="text/javascript", src="scripts/slideshow.js")
        |     
        #corps
          h1 L'extension qui vérifie vos lectures.
          |         
          |         
          #paragraphes
            p
              | Vérifiez la 
              span.stronger qualité
              |  de ce que vous lisez.
            |             
            p
              | Consultez la 
              span.stronger fiabilité
              |  du site que vous consultez.
            |             
            p
              | Informez les autres utilisateurs de la 
              span.stronger cohérence
              |  des sites que vous visitez.
          #bouton
            a#download(href="/telecharger", title="Telechargement de l'extension")
              span.first_letter T
              | éléchargez
      #avis
        p Donnez votre avis !
        |        
        .rating.rating2
          //
          a(href="#5", title="Give 5 stars") ★
          //
                   
          a(href="#4", title="Give 4 stars") ★
          //
                   
          a(href="#3", title="Give 3 stars") ★
          //
                   
          a(href="#2", title="Give 2 stars") ★
          //
                   
          a(href="#1", title="Give 1 star") ★
    br
    script(src='/js/jquery.min.js')
    footer
      a#haut(href="#logo") Haut de page
