div(id='userSpace')

    form(action="/connexion", method="POST")
        input(type="text", name="username", placeholder="Pseudo")

        input(type="password", name="password", placeholder="Password")

        input(type="submit", value="Connexion")

    a(href="/inscription") S'inscrire