doctype html
html
    body
        form(method='POST')
            | Pseudo:
            input(type='text', name='username')
            br
            | mdp:
            input(type='password', name='password')
            br
            br
            | email:
            input(type="email", name='email')
            input(type='submit', value='Submit')
