<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <!-- <link rel="icon" type="image/png" href="images/logo.png">-->
    <link rel="stylesheet" href="style.css">
    <title >Serveur</title>
</head>

<body>
<div id="bloc_page">
    <header>
        <div id="titre_principal"> Serveur
            <!--<a href="home.html"><img src="images/tympan.png" width="500" style="vertical-align: middle;" > </a>-->
        </div>

        <nav>
            <ul id="menu">
                <li><a href="home.html">Home</a></li>
                <li><a href="news.html">News</a></li>
                <li><a href="#">opt</a>
                    <ul>
                        <li><a href="1.html">1</a></li>
                        <li><a href="2.html">2</a></li>
                    </ul>
                </li>
                <li><a href="news.html">Arbre</a></li>
                <li><a href="connexion.html">Connexion</a></li>
                <li><a href="formulaire.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <article>
        <table class="table_article">
            <tbody>
            <tr>
                <td><zoom><a href="https://www.1.com"><img src="images/1.jpg" width="70" /></a></zoom></td>
                <td>1</td>
                <td>article1</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        </table>
    </article>

    <footer>
        <div>
            <h2>Informations</h2>
            <h2>Projet</h2>
        </div>
    </footer>

</div>
</body>
</html>