
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wib - Le Modèle</title>
    <link rel="stylesheet" href="../styles/recherche.css">
    <link rel="icon" type="image/png" href="../images/Logo/icon_ext.png"/>

</head>
<body>
    <header>
        <div id="logo">
            <a href="../index.html">
                <img src="../images/Logo/logo.png" alt="Logo Wib" title="Logo - Aller à l'accueil">
            </a>
        </div>
        <nav>
            <div class="navbar">
                <a href="../index.html" title="Accueil"><p class="lien">Home</p></a>
                <a href="recherche.html" title="Recherche"><p class="lien">Recherche</p> </a>
                <a href="fiche.html" title="Fiche"><p class="lien">Fiche</p></a>
                <a href="apropos.html" title="A propos"><p class="lien">A propos</p></a>
            </div>
        </nav>
    </header>


<main>
    <div>
        <br>
        <form class="barRecherche">
            <input type="text" name="search" placeholder="Search..">
            <input type="submit" value="Go!">
        </form>
    </divs>

        
    <br>        
    <a id="haut" href="modele.html"> voir un modele</a>

</main>




<footer>
    <a id="haut" href="#logo"> Haut de page</a>
</footer>
</body>
</html>