doctype html
html(lang='fr')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Wib - A propos
        link(rel='stylesheet', href='/stylesheets/apropos.css')
        link(rel='icon', type='image/png', href='../images/icon_ext.png')
    body
        header
            #logo
                a(href='../')
                    img(src='../images/logo.png', alt='Logo Wib', title="Logo - Aller à l'accueil")
            nav
                ul
                    li
                        a(href='../', title='Accueil') Home
                    li
                        a(href='recherche', title='Recherche') Recherche
                    li
                        a(href='apropos', title='A propos') A propos
        main
            #whoarewe
                p#team
                    | Nous sommes une petite équipe de 5 développeurs. Cette extension est le résultat d'un projet universitaire étalé sur une période de 4 mois. Nous avons voulu rendre cette expérience accessible à tous, car nous sommes convaincus qu'elle répond à un besoin vital concernant la véracité de l'information.
                ul#liste
                    li Arthur DELAIN (arthur.delain[at]etu.uca.fr)
                    li Yannis PERROT (yannis.perrot[at]etu.uca.fr)
                    li Yohann BETHOULE (yohann.bethoule[at]etu.uca.fr)
                    li Alex CARDOSO (alex.cardoso[at]etu.uca.fr)
                    li Jonathan POINT (jonathan.point[at]etu.uca.fr)
        br
        footer
            a#haut(href='#logo') Haut de page
