doctype html
html(lang='fr')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Wib - Le Modèle
        link(rel='stylesheet', href='../../styles/modele.css')
        link(rel='icon', type='image/png', href='../../images/Logo/icon_ext.png')
    body
        header
            #logo
                a(href='../')
                    img(src='../../images/Logo/logo.png', alt='Logo Wib', title="Logo - Aller à l'accueil")
            nav
                ul
                    li
                        a(href='../', title='Accueil') Home
                    li
                        a(href='recherche', title='Recherche') Recherche
                    li
                        a(href='apropos', title='A propos') A propos
        main
            article
                .box
                    .boxinfo
                        h1 Nom du site
                        p Catégorie
                    .boxlogo
                        a(href='http://www.lemonde.fr/')
                            img(src='../../images/Logo/LogoLeMonde.png', alt='Logo Le Monde', title='Logo Le Monde')
                .box2
                    .boxscreenshot
                        img#myImg(src='../../images/ScreenshotLeMonde.png', alt='Screenshot Le Monde')
                        // The Modal
                        #myModal.modal
                            span.close ×
                            img#img01.modal-content
                            #caption
                        script(type='text/javascript', src='../../scripts/modal.js')
                    .avis
                        p Fiabilité
                        .rating.rating2
                            //
                            a(href='#5', title='Give 5 stars') ★
                            //
                            a(href='#4', title='Give 4 stars') ★
                            //
                            a(href='#3', title='Give 3 stars') ★
                            //
                            a(href='#2', title='Give 2 stars') ★
                            //
                            a(href='#1', title='Give 1 star') ★
                        p Cohérence
                        .rating.rating2
                            //
                            a(href='#5', title='Give 5 stars') ★
                            //
                            a(href='#4', title='Give 4 stars') ★
                            //
                            a(href='#3', title='Give 3 stars') ★
                            //
                            a(href='#2', title='Give 2 stars') ★
                            //
                            a(href='#1', title='Give 1 star') ★
        br
        footer
            a#haut(href='#logo')  Haut de page
