doctype html
html(lang='fr')
<<<<<<< HEAD
  head
    meta(charset='utf-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    title Wib - Le Mod&egrave;le
    |     
    link(rel='stylesheet', href='../styles/modele.css')
    |     
    link(rel='icon', type='image/png', href='../images/Logo/icon_ext.png')
  body
    header
      #logo
        a(href='../index.html')
          img(src='../images/Logo/logo.png', alt='Logo Wib', title="Logo - Aller à l'accueil")
      |         
      nav
        .navbar
          a(href='../index.html', title='Accueil')
            p.lien Home
          |                 
          a(href='recherche.html', title='Recherche')
            p.lien Recherche
          |                 
          a(href='fiche.html', title='Fiche')
            p.lien Fiche
          |                 
          a(href='apropos.html', title='A propos')
            p.lien A propos
    |     
    main
      article
        .box
          .boxinfo
            h1 Nom du site
            |                     
            p Cat&eacute;gorie
          |                 
          .boxlogo
            a(href='http://www.lemonde.fr/')
              img(src='../images/Logo/LogoLeMonde.png', alt='Logo Le Monde', title='Logo Le Monde')
        |             
        .box2
          .boxscreenshot
            img#myImg(src='../images/ScreenshotLeMonde.png', alt='Screenshot Le Monde')
            // The Modal
            #myModal.modal
              span.close &times;
              |                         
              img#img01.modal-content
              |                         
              #caption
            |                     
            script(type='text/javascript', src='../scripts/modal.js')
          |                 
          .avis
            p Fiabilit&eacute;
            |                 
            .rating.rating2
              //
              a(href='#5', title='Give 5 stars') &starf;
              //
                                  
              a(href='#4', title='Give 4 stars') &starf;
              //
                                  
              a(href='#3', title='Give 3 stars') &starf;
              //
                                  
              a(href='#2', title='Give 2 stars') &starf;
              //
                              
              a(href='#1', title='Give 1 star') &starf;
            |           
            p Coh&eacute;rence
            |                 
            .rating.rating2
              //
              a(href='#5', title='Give 5 stars') &starf;
              //
                                  
              a(href='#4', title='Give 4 stars') &starf;
              //
                                  
              a(href='#3', title='Give 3 stars') &starf;
              //
                                  
              a(href='#2', title='Give 2 stars') &starf;
              //
                              
              a(href='#1', title='Give 1 star') &starf;
      #commentaires
        h2(nb_com='')
          | 3 Commentaires
          hr
        |     
        form(action='', method='POST')
          .coordonnes
            input.auteur(name='auteur', placeholder='Pseudo', type='text')
            |             
            input.mail(name='mail', placeholder='user@domain.ex', type='text')
          |         
          textarea.msg(name='texte', placeholder='Votre commentaire')
          |         
          input(value='Envoyer', type='submit')
        |     
        br
        |     
        .comment
          .avatar
            img(src='http://www.gravatar.com/avatar/74ad9ac94d2a34363d4f7e03a8b7cc45?s=75&d=mm&r=x', alt='avatar', width='75', height='75')
          |         
          .message
            .author
              span.pseudo LeDabeurFou
              |                 
              span.date - 01/12/2017
            |             
            p.content
              | Reprenons. Les &eacute;l&eacute;ments sont organis&eacute;s soit horizontalement (par d&eacute;faut), soit verticalement. Cela
              | d&eacute;finit ce qu&apos;on appelle l&apos;axe principal. Il y a aussi un axe secondaire (cross axis).
        |     
        hr
        |     
        .comment
          .avatar
            img(src='http://www.gravatar.com/avatar/74ad9ac94d2a34363d4f7e03a8b7cc45?s=75&d=mm&r=x', alt='avatar', width='75', height='75')
          |         
          .message
            .author
              span.pseudo LeDabeurFou
              |                 
              span.date - 01/12/2017
            |             
            p.content
              | Pourquoi je vous raconte &ccedil;a ? Parce que nous allons d&eacute;couvrir comment aligner nos &eacute;l&eacute;ments sur l&apos;axe
              | principal et sur l&apos;axe secondaire.
        |     
        hr
        |     
        .comment
          .avatar
            img(src='http://www.gravatar.com/avatar/74ad9ac94d2a34363d4f7e03a8b7cc45?s=75&d=mm&r=x', alt='avatar', width='75', height='75')
          |         
          .message
            .author
              span.pseudo LeDabeurFou
              |                 
              span.date - 01/12/2017
            |             
            p.content
              | Comme je vous disais, si nos &eacute;l&eacute;ments sont plac&eacute;s dans une direction horizontale (ligne), l&apos;axe
              | secondaire est... vertical. Et inversement, si nos &eacute;l&eacute;ments sont dans une direction verticale
              | (colonne), l&apos;axe secondaire est horizontal.
        |     
        hr
    br
    footer
      a#haut(href='#logo')  Haut de page
=======
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Wib - Le Modèle
        link(rel='stylesheet', href='/stylesheets/modele.css')
        link(rel='icon', type='image/png', href='/images/Logo/icon_ext.png')
    body
        header
            #logo
                a(href='../')
                    img(src='/images/Logo/logo.png', alt='Logo Wib', title="Logo - Aller à l'accueil")
            nav
                ul
                    li
                        a(href='../', title='Accueil') Home
                    li
                        a(href='recherche', title='Recherche') Recherche
                    li
                        a(href='apropos', title='A propos') A propos
        main
            article
                .box
                    .boxinfo
                        h1 Nom du site
                        p Catégorie
                    .boxlogo
                        a(href='http://www.lemonde.fr/')
                            img(src='/images/Logo/LogoLeMonde.png', alt='Logo Le Monde', title='Logo Le Monde')
                .box2
                    .boxscreenshot
                        img#myImg(src='/images/ScreenshotLeMonde.png', alt='Screenshot Le Monde')
                        // The Modal
                        #myModal.modal
                            span.close ×
                            img#img01.modal-content
                            #caption
                        script(type='text/javascript', src='../../scripts/modal.js')
                    .avis
                        p Fiabilité
                        .rating.rating2
                            //
                            a(href='#5', title='Give 5 stars') ★
                            //
                            a(href='#4', title='Give 4 stars') ★
                            //
                            a(href='#3', title='Give 3 stars') ★
                            //
                            a(href='#2', title='Give 2 stars') ★
                            //
                            a(href='#1', title='Give 1 star') ★
                        p Cohérence
                        .rating.rating2
                            //
                            a(href='#5', title='Give 5 stars') ★
                            //
                            a(href='#4', title='Give 4 stars') ★
                            //
                            a(href='#3', title='Give 3 stars') ★
                            //
                            a(href='#2', title='Give 2 stars') ★
                            //
                            a(href='#1', title='Give 1 star') ★
        br
        footer
            a#haut(href='#logo')  Haut de page
>>>>>>> c4c19fa2161584d88ec22b7454661534eb119804
