doctype html
html(lang='fr')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Wib - Rechercher un site
        link(rel='stylesheet', href='../../styles/recherche.css')
        link(rel='icon', type='image/png', href='../../images/icon_ext.png')
    body
        header
            #logo
                a(href='../')
                    img(src='../../images/logo.png', alt='Logo Wib', title="Logo - Aller à l'accueil")
            nav
                ul
                    li
                        a(href='../', title='Accueil') Home
                    li
                        a(href='recherche', title='Recherche') Recherche
                    li
                        a(href='apropos', title='A propos') A propos
        main
            input(type='text', name='search', placeholder='Search..')
            input(type='submit', value='Go!')
        footer
            a#haut(href='#logo')  Haut de page
