doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Wib - Rechercher un site
    link(rel='stylesheet', href='../styles/recherche.css')
    link(rel='icon', type='image/png', href='../images/icon_ext.png')
  body
    header
      #logo
        a(href='../index.html')
          img(src='../images/Logo/logo.png', alt='Logo Wib', title="Logo - Aller Ã  l'accueil")
      nav
        .navbar
          a(href='../index.html', title='Accueil')
            p.lien Home
          a(href='recherche.html', title='Recherche')
            p.lien Recherche
          a(href='fiche.html', title='Fiche')
            p.lien Fiche
          a(href='apropos.html', title='A propos')
            p.lien A propos
    main
      form
        input(type='text', name='search', placeholder='Search..')
        input(type='submit', value='Go!')
      a#haut(href='modele.html')  voir un modele
    footer
      a#haut(href='#logo')  Haut de page
doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Wib - Rechercher un site
    link(rel='stylesheet', href='../styles/recherche.css')
    link(rel='icon', type='image/png', href='../images/icon_ext.png')
  body
    header
      #logo
        a(href='../index.html')
          img(src='../images/Logo/logo.png', alt='Logo Wib', title="Logo - Aller Ã  l'accueil")
      nav
        .navbar
          a(href='../index.html', title='Accueil')
            p.lien Home
          a(href='recherche.html', title='Recherche')
            p.lien Recherche
          a(href='fiche.html', title='Fiche')
            p.lien Fiche
          a(href='apropos.html', title='A propos')
            p.lien A propos
    main
      form
        input(type='text', name='search', placeholder='Search..')
        input(type='submit', value='Go!')
      a#haut(href='modele.html')  voir un modele
    footer
      a#haut(href='#logo')  Haut de page
