
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wib - Recherche</title>
    <link rel="stylesheet" href="../../public/stylesheets/recherche.css">
    <link href="../../public/stylesheets/nouislider.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="../public/images/Logo/icon_ext.png"/>

</head>
<body>
    <header>
        <div id="logo">
            <a href="../../routes/index.html">
                <img src="../../public/images/Logo/logo.png" alt="Logo Wib" title="Logo - Aller à l'accueil">
            </a>
        </div>
    <nav>
        <div class="topnav" id="myTopnav">
          <a href="../../routes/index.html" class="active">Acceuil</a>
          <a href="recherche.html">Recherche</a>
          <a href="fiche.html">Fiche</a>
          <a href="apropos.html">A propos</a>
          <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
    </nav>
    </header>
	<script type="text/javascript" src="../../public/scripts/menuDeroulant.js"></script>
	<main>
		<div class="ecranRecherche">
			<aside>
				<div id="slider"></div>
			</aside>

		    <div class="sectionRecherche">
		        <br>
		        <form class="barRecherche">
		            <input type="text" name="search" placeholder="Search..">
		            <input type="submit" value="Go!">
		        </form>
		        <br>        
		    	<a id="haut" href="modele.html"> voir un modele</a>
		    </div>
		        
		   
		</div>
	</main>

	<script src="../../public/scripts/nouislider.min.js"></script>

	<script src="../../public/scripts/slider.js"></script>
	
	<footer>
	    <a id="haut" href="#logo"> Haut de page</a>
	</footer>
</body>
</html>