#userSpace
    a(href="../../views/inscription.jade") S'inscrire
    |
    form(action="", method="get")
        input(type="text", name="username", placeholder="Pseudo")
        |
        input(type="password", name="password", placeholder="Password")
        |
        input(type="submit", value="Connexion")
